.vscode
.vscode/*
./geckodriver.log
./debug.log
env
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
Data
to_be_visited_pages.json
visited_pages.json
web_scraped_articles.json
to_be_visited_pages.txt
geckodriver.log
thread*.txt
old_thread_logs
*.pyc
ignore_me
